<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minfo.carrepair">

    <!-- Required -->
    <permission
        android:name="com.minfo.carrepair.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.minfo.carrepair.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Optional for location -->
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="Mob-AppKey"
            android:value="20bdafcf9893d" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="5a519f607bc5964f8fbf0308a4440806" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.shop.ProductDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.ChangPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.CheckActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.query.ProductQueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.query.EPCQueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.query.EPCDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.query.OEMDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.shop.StoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.query.VINQueryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.query.ProductPurchaseVINActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.query.ChoseCarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.CollectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.OrderSureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.publish.PartsPublishActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.publish.AskToBuyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.publish.VinSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
            	AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="cn.sharesdk.demo.MyAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            <meta-data android:name="QQWebShareAdapter" android:value="cn.sharesdk.demo.MyQQWebShareAdapter" />
            -->


            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- <activity -->
        <!-- android:name=".wxapi.WXPayEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop" /> -->
        <!-- &lt;!&ndash; 微信分享回调 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name=".wxapi.WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->


        <!-- Required SDK核心功能 -->
        <!-- <activity -->
        <!-- android:name="cn.jpush.android.ui.PushActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.ui.PushActivity" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="com.minfo.hondowechat" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- &lt;!&ndash; 短信相关 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="com.mob.tools.MobUIShell" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize"> -->
        <!-- <meta-data -->
        <!-- android:name="AuthorizeAdapter" -->
        <!-- android:value="cn.sharesdk.demo.MyAdapter" /> -->


        <!-- <intent-filter> -->
        <!-- <data android:scheme="tencent100371282" /> -->


        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->


        <!-- &lt;!&ndash; 调用新浪原生SDK，需要注册的回调activity &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".activity.address.AddressListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.address.EditAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.LegalNoticeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.wallet.WalletActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.personl.HelpCenterActivity"
            android:label="@string/title_activity_help_center"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.setting.ChangNickActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.wallet.BillCheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.publish.OpenOrdewrActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.publish.ShowPriceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.goodmanager.GoodManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.message.MyMessageActivity"
            android:screenOrientation="portrait"/>
        <!-- 设置环信应用的AppKey -->
        <!-- <meta-data -->
        <!-- android:name="EASEMOB_APPKEY" -->
        <!-- android:value="minfo#carautorepair" /> -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1124170630115118#carautorepair" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".chat.ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"/>
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity android:name=".activity.order.AssessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.publish.ChosePhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.publish.KindOfPeiJianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.MyShowPriceListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.personl.MyShowPriceDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.WLInfoActivity"
            android:screenOrientation="portrait"/>

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"
            android:screenOrientation="portrait"/>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.minfo.carrepair" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.minfo.carrepair" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.minfo.carrepair" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".activity.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.minfo.carrepair" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_CHANNEL" -->
        <!-- android:value="developer-default" /> -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_APPKEY" -->
        <!-- android:value="c0e0c0d559e9e855de65d776" /> &lt;!&ndash; </>值来自开发者平台取得的AppKey &ndash;&gt; -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- <meta-data android:name="JPUSH_APPKEY" android:value="c0e0c0d559e9e855de65d776" /> &lt;!&ndash;  </>值来自开发者平台取得的AppKey&ndash;&gt; -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="7bccc8238d79f68d44f51033" /> <!-- </>值来自开发者平台取得的AppKey -->
        <activity android:name=".activity.personl.HelpDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.order.OrderDetailQGActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.InitActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.personl.KefuActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>